@font-face {
  font-family: "Helv-bold";
  src: url("../fonts/MyriadGEOMtavruliMedium.ttf");
  // font-weight: bold;
  // font-style: normal;
}

@font-face {
  font-family: "Helv-reg";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mon-bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mon-med";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lt-light";
  src: url("../fonts/45-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lt-roman";
  src: url("../fonts/55-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lt-bold";
  src: url("../fonts/75-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
